@media print {
	body {
		background: rgb(255,255,255);
	}
}
select.invalid{
    background-color: #ffaaaa
}
.tab{
    display: none
}
#prevBtn{
    background-color: #bbbbbb;
	float: left;
}
#nextBtn{
	float: right;
}
.step{
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #444;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5
}
.step.active{
    opacity: 1
}
.step.finish{
    background-color: #4CAF50
}
.all-steps{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}
.level1 {
	background-color: #f00;
}
.level2 {
	background-color: #ffc100;
}
.level3 {
	background-color: #ffff00;
}
.level4 {
	background-color: #d6ff00;
}
.level5 {
	background-color: #63ff00;
}
/************
Table
*************/
td, th {
	text-align: center;
	/*padding: 0.3em 1em 0.3em 1em;*/
	padding: 0.3em;
}
/************
Input
*************/
input:disabled, input:read-only, select:disabled {
	background-color: #eee;
	color: #888;
	font-weight: normal;
}
/************
Alerts
*************/
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}