<label for="q1">Mon état de forme...</label>
</br></br>
<select name="q1" id="q1">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Très frais</option>
    <option value="4">Frais</option>
    <option value="3">Normal</option>
    <option value="2">Un peu fatigué</option>
    <option value="1">Souvent fatigué</option>
</select>
</br></br>