<label for="q2">Mon état musculaire...</label>
</br></br>
<select name="q2" id="q2">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Se sent bien</option>
    <option value="4">Bon</option>
    <option value="2">Douloureux parfois</option>
    <option value="1">Très douloureux</option>
</select>
</br></br>