<label for="q3">Mon sommeil...</label>
</br></br>
<select name="q3" id="q3">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Très reposant</option>
    <option value="4">Bon</option>
    <option value="2">Difficultés à m'endormir</option>
    <option value="1">Agité, insomnie</option>
</select>
</br></br>