<label for="q4">Mon humeur...</label>
</br></br>
<select name="q4" id="q4">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Très positive</option>
    <option value="4">De bonne humeur</option>
    <option value="2">Parfois agressif</option>
    <option value="1">Irritable, agacé ou déprimée</option>
</select>
</br></br>