<label for="q5">Mon stress...</label>
</br></br>
<select name="q5" id="q5">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Très détendu</option>
    <option value="4">Détendu</option>
    <option value="2">Stressé</option>
    <option value="1">Très stressé</option>
</select>
</br></br>