<label for="q6">Intensité des entrainements...</label>
</br></br>
<select name="q6" id="q6">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">C'est facile</option>
    <option value="5">J'aimerais que ça soit plus intense</option>
    <option value="4">C'est à mon niveau</option>
    <option value="4">Ca m'arrive d'être dans la difficulté</option>
    <option value="2">Par moments, c'est vraiment dur</option>
    <option value="2">J'aimerais que ça soit un peu moins difficile</option>
    <option value="1">C'est souvent trop intense</option>
    <option value="1">Je n'ai pas le temps de récupérer avant l'entrainement suivant</option>
</select>
</br></br>