<label for="q7">Intérêt pour l'entrainement...</label>
</br></br>
<select name="q7" id="q7">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Je kiffe</option>
    <option value="4">Intéressant</option>
    <option value="4">J'ai l'impression d'apprendre</option>
    <option value="2">J'ai l'impression de ne rien apprendre</option>
    <option value="2">Parfois ennuyant</option>
    <option value="1">Souvent ennuyant</option>
    <option value="1">Je pense à d'autres choses par moments</option>
</select>
</br></br>