<label for="q8">Ma place dans l'équipe...</label>
</br></br>
<select name="q8" id="q8">
    <option value="" disabled selected hidden>Fais ton choix</option>
    <option value="5">Je kiffe jouer avec mes partenaires</option>
    <option value="5">Je m'y sens bien</option>
    <option value="4">Je m'y sens bien mais ça pourrait être mieux</option>
    <option value="4">Parfois on ne s'entend pas mais ce n'est pas grave</option>
    <option value="2">Il y a souvent des prises de tête</option>
    <option value="1">J'ai du mal à m'entendre avec certains</option>
    <option value="1">J'ai des difficultés à parler avec mes coéquipiers</option>
</select>
</br></br>