<div class="modal">
  <input id="modal_login" type="checkbox" />
  <label for="modal_login" class="overlay"></label>
  <article>
	<header>
	  <h3>Espace entraineur</h3>
	  <label for="modal_login" class="close">&times;</label>
	</header>
	<section class="content">
		<form action="page_login.php" method="post" name="login">
			<input type="hidden" id="action" name="action" value="login" />
			<label for="uid">Identifiant</label></br>
            <input placeholder="Identifiant" id="uid" name="uid" required />
			<label for="upwd">Mot de passe</label></br>
            <input type="password" placeholder="Mot de passe" id="upwd" name="upwd" required />
            <button type="submit">Se connecter</button>
            <label for="modal_login" class="button dangerous">Annuler</label>
		</form> 
	</section>
  </article>
</div>